Загрузить датасет и вывести его первые 10 строк.
Узнать количество строк и столбцов в датасете.
Проверить, есть ли пропущенные значени.

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime
nyc_trees = pd.read_csv('nyc_trees_data.csv')

In [10]:
nyc_trees.head(10)

,tree_id,block_id,created_at,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,boro_ct,state,latitude,longitude,x_sp,y_sp,council district,census tract,bin,bbl
0,180683,348711,08/27/2015,3,0,OnCurb,Alive,Fair,Acer rubrum,red maple,...,4073900.0,New York,40.723092,-73.844215,1.027431e+06,202756.7687,29.0,739.0,4052307.0,4.022210e+09
1,200540,315986,09/03/2015,21,0,OnCurb,Alive,Fair,Quercus palustris,pin oak,...,4097300.0,New York,40.794111,-73.818679,1.034456e+06,228644.8374,19.0,973.0,4101931.0,4.044750e+09
2,204026,218365,09/05/2015,3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,3044900.0,New York,40.717581,-73.936608,1.001823e+06,200716.8913,34.0,449.0,3338310.0,3.028870e+09
3,204337,217969,09/05/2015,10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,3044900.0,New York,40.713537,-73.934456,1.002420e+06,199244.2531,34.0,449.0,3338342.0,3.029250e+09
4,189565,223043,08/30/2015,21,0,OnCurb,Alive,Good,Tilia americana,American linden,...,3016500.0,New York,40.666778,-73.975979,9.909138e+05,182202.4260,39.0,165.0,3025654.0,3.010850e+09
5,190422,106099,08/30/2015,11,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,1014500.0,New York,40.770046,-73.984950,9.884187e+05,219825.5227,3.0,145.0,1076229.0,1.011310e+09
6,190426,106099,08/30/2015,11,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,1014500.0,New York,40.770210,-73.985338,9.883112e+05,219885.2785,3.0,145.0,1076229.0,1.011310e+09
7,208649,103940,09/07/2015,9,0,OnCurb,Alive,Good,Tilia americana,American linden,...,1012700.0,New York,40.762724,-73.987297,9.877691e+05,217157.8561,3.0,133.0,1086093.0,1.010410e+09
8,209610,407443,09/08/2015,6,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,5006400.0,New York,40.596579,-74.076255,9.630732e+05,156635.5542,NaN,NaN,NaN,NaN
9,192755,207508,08/31/2015,21,0,OffsetFromCurb,Alive,Fair,Platanus x acerifolia,London planetree,...,3037402.0,New York,40.586357,-73.969744,9.926537e+05,152903.6306,47.0,37402.0,3320727.0,3.072350e+09

In [13]:
nyc_trees.shape

(323873, 45)

In [19]:
nyc_trees.isnull().sum()

tree_id                  0
block_id                 0
created_at               0
tree_dbh                 0
stump_diam               0
curb_loc                 0
status                   0
health               31616
spc_latin            31619
spc_common           31619
steward             519438
guards              603922
sidewalk             31616
user_type                0
problems            457944
root_stone               0
root_grate               0
root_other               0
trunk_wire               0
trnk_light               0
trnk_other               0
brch_light               0
brch_shoe                0
brch_other               0
address                  0
postcode                 0
zip_city                 0
community board          0
borocode                 0
borough                  0
cncldist                 0
st_assem                 0
st_senate                0
nta                      0
nta_name                 0
boro_ct                  0
state                    0
latitude                 0
longitude                0
x_sp                     0
y_sp                     0
council district      6519
census tract          6519
bin                   9559
bbl                   9559
dtype: int64

Фильтрация данных


Отфильтровать все деревья, которые имеют диаметр (tree_dbh) больше 10 дюймов.
Вывести все деревья, у которых status = "Alive" и health = "Good".
Найти деревья, которые относятся к виду "Acer rubrum" (red maple).

In [22]:
nyc_trees.query('tree_dbh > 10')

,tree_id,block_id,created_at,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,boro_ct,state,latitude,longitude,x_sp,y_sp,council district,census tract,bin,bbl
1,200540,315986,09/03/2015,21,0,OnCurb,Alive,Fair,Quercus palustris,pin oak,...,4097300,New York,40.794111,-73.818679,1.034456e+06,228644.8374,19.0,973.0,4101931.0,4.044750e+09
4,189565,223043,08/30/2015,21,0,OnCurb,Alive,Good,Tilia americana,American linden,...,3016500,New York,40.666778,-73.975979,9.909138e+05,182202.4260,39.0,165.0,3025654.0,3.010850e+09
5,190422,106099,08/30/2015,11,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,1014500,New York,40.770046,-73.984950,9.884187e+05,219825.5227,3.0,145.0,1076229.0,1.011310e+09
6,190426,106099,08/30/2015,11,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,1014500,New York,40.770210,-73.985338,9.883112e+05,219885.2785,3.0,145.0,1076229.0,1.011310e+09
9,192755,207508,08/31/2015,21,0,OffsetFromCurb,Alive,Fair,Platanus x acerifolia,London planetree,...,3037402,New York,40.586357,-73.969744,9.926537e+05,152903.6306,47.0,37402.0,3320727.0,3.072350e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
683780,195173,304371,09/01/2015,15,0,OnCurb,Alive,Fair,Platanus x acerifolia,London planetree,...,4016900,New York,40.746122,-73.913657,1.008175e+06,211120.9420,26.0,169.0,4000947.0,4.001290e+09
683781,155348,230784,08/18/2015,20,0,OnCurb,Alive,Good,Quercus palustris,pin oak,...,3051001,New York,40.645694,-73.958179,9.958556e+05,174522.7192,40.0,51001.0,3328218.0,3.051250e+09
683783,155433,217978,08/18/2015,25,0,OnCurb,Alive,Good,Quercus palustris,pin oak,...,3051900,New York,40.713211,-73.954944,9.967407e+05,199121.6363,34.0,519.0,3062513.0,3.023690e+09
683785,166161,401670,08/22/2015,12,0,OnCurb,Alive,Good,Acer rubrum,red maple,...,5020100,New York,40.620762,-74.136517,9.463514e+05,165466.0763,50.0,201.0,5011657.0,5.004080e+09
683787,200607,306527,09/03/2015,23,0,OnCurb,Alive,Fair,Acer rubrum,red maple,...,4134100,New York,40.732165,-73.787526,1.043136e+06,206095.5383,24.0,1341.0,4153657.0,4.071360e+09

In [43]:
display(nyc_trees.loc[(nyc_trees['status'] == 'Alive')&(nyc_trees['health'] == 'Good')])

,tree_id,block_id,created_at,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,state,latitude,longitude,x_sp,y_sp,council district,census tract,bin,bbl,alive_n_good
2,204026,218365,09/05/2015,3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,New York,40.717581,-73.936608,1.001823e+06,200716.8913,34.0,449.0,3338310.0,3.028870e+09,True
3,204337,217969,09/05/2015,10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,New York,40.713537,-73.934456,1.002420e+06,199244.2531,34.0,449.0,3338342.0,3.029250e+09,True
4,189565,223043,08/30/2015,21,0,OnCurb,Alive,Good,Tilia americana,American linden,...,New York,40.666778,-73.975979,9.909138e+05,182202.4260,39.0,165.0,3025654.0,3.010850e+09,True
5,190422,106099,08/30/2015,11,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,New York,40.770046,-73.984950,9.884187e+05,219825.5227,3.0,145.0,1076229.0,1.011310e+09,True
6,190426,106099,08/30/2015,11,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,New York,40.770210,-73.985338,9.883112e+05,219885.2785,3.0,145.0,1076229.0,1.011310e+09,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
683782,184210,504308,08/29/2015,3,0,OnCurb,Alive,Good,Quercus palustris,pin oak,...,New York,40.854570,-73.899192,1.012137e+06,250636.4824,15.0,381.0,2013548.0,2.031490e+09,True
683783,155433,217978,08/18/2015,25,0,OnCurb,Alive,Good,Quercus palustris,pin oak,...,New York,40.713211,-73.954944,9.967407e+05,199121.6363,34.0,519.0,3062513.0,3.023690e+09,True
683784,183795,348185,08/29/2015,7,0,OnCurb,Alive,Good,Cladrastis kentukea,Kentucky yellowwood,...,New York,40.715194,-73.856650,1.023989e+06,199873.6475,29.0,707.0,4075448.0,4.031810e+09,True
683785,166161,401670,08/22/2015,12,0,OnCurb,Alive,Good,Acer rubrum,red maple,...,New York,40.620762,-74.136517,9.463514e+05,165466.0763,50.0,201.0,5011657.0,5.004080e+09,True
683786,184028,504204,08/29/2015,9,0,OnCurb,Alive,Good,Acer rubrum,red maple,...,New York,40.850828,-73.903115,1.011054e+06,249271.9507,15.0,23502.0,2007757.0,2.028120e+09,True

In [49]:
nyc_trees.query('spc_latin == "Acer rubrum"')

,tree_id,block_id,created_at,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,state,latitude,longitude,x_sp,y_sp,council district,census tract,bin,bbl,alive_n_good
0,180683,348711,08/27/2015,3,0,OnCurb,Alive,Fair,Acer rubrum,red maple,...,New York,40.723092,-73.844215,1.027431e+06,202756.7687,29.0,739.0,4052307.0,4.022210e+09,True
39,184031,504204,08/29/2015,3,0,OnCurb,Alive,Good,Acer rubrum,red maple,...,New York,40.850918,-73.903561,1.010930e+06,249304.4860,15.0,23502.0,2007746.0,2.028120e+09,True
61,208974,414958,09/08/2015,10,0,OnCurb,Alive,Good,Acer rubrum,red maple,...,New York,40.561032,-74.106535,9.546483e+05,143693.7225,50.0,12806.0,5056270.0,5.040570e+09,True
62,198146,411699,09/02/2015,6,0,OnCurb,Alive,Good,Acer rubrum,red maple,...,New York,40.539369,-74.192553,9.307302e+05,135842.1792,51.0,17009.0,5092500.0,5.063120e+09,True
125,198230,411696,09/02/2015,10,0,OnCurb,Alive,Good,Acer rubrum,red maple,...,New York,40.539370,-74.192161,9.308391e+05,135842.1992,51.0,17009.0,5092499.0,5.063120e+09,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
682926,201891,228363,09/04/2015,22,0,OnCurb,Alive,Poor,Acer rubrum,red maple,...,New York,40.633307,-73.979253,9.900085e+05,170007.8037,44.0,478.0,3126437.0,3.053800e+09,True
682929,193254,407140,08/31/2015,20,0,OnCurb,Alive,Fair,Acer rubrum,red maple,...,New York,40.592459,-74.188067,9.320187e+05,155181.3147,50.0,29102.0,5041700.0,5.026270e+09,True
683785,166161,401670,08/22/2015,12,0,OnCurb,Alive,Good,Acer rubrum,red maple,...,New York,40.620762,-74.136517,9.463514e+05,165466.0763,50.0,201.0,5011657.0,5.004080e+09,True
683786,184028,504204,08/29/2015,9,0,OnCurb,Alive,Good,Acer rubrum,red maple,...,New York,40.850828,-73.903115,1.011054e+06,249271.9507,15.0,23502.0,2007757.0,2.028120e+09,True
683787,200607,306527,09/03/2015,23,0,OnCurb,Alive,Fair,Acer rubrum,red maple,...,New York,40.732165,-73.787526,1.043136e+06,206095.5383,24.0,1341.0,4153657.0,4.071360e+09,True

Агрегация и статистика


Посчитать средний диаметр (tree_dbh) всех деревьев.
Найти максимальный и минимальный tree_dbh по каждому виду дерева (spc_latin).
Посчитать количество деревьев для каждого значения health (например, сколько деревьев со статусами "Good", "Fair" и "Poor").

In [6]:
nyc_trees[['tree_dbh']].mean()

tree_dbh    11.279787
dtype: float64

In [72]:
(
    nyc_trees
        .query('tree_dbh != 0') #у некоторых деревьев диаметр указан нулевой
        .groupby('spc_latin', as_index = False)
        .aggregate({'tree_dbh': ['max', 'min']})
)

             spc_latin tree_dbh
                            max min
0                 Acer       59   1
1    Acer buergerianum       28   2
2       Acer campestre       64   1
3         Acer ginnala       40   1
4         Acer griseum       30   1
..                 ...      ...  ..
127   Tsuga canadensis       21   1
128    Ulmus americana       65   1
129   Ulmus parvifolia      118   1
130       Ulmus pumila      149   1
131    Zelkova serrata      210   1

[132 rows x 3 columns]

In [46]:
nyc_trees['max_dbh'] = nyc_trees.groupby('spc_latin').aggregate({'tree_dbh': 'max'})
nyc_trees['min_dbh'] = nyc_trees.groupby('spc_latin').aggregate({'tree_dbh': 'min'})
nyc_trees[['spc_latin', 'max_dbh', 'min_dbh']]

                                 spc_latin  max_dbh  min_dbh
0                              Acer rubrum      NaN      NaN
1                        Quercus palustris      NaN      NaN
2       Gleditsia triacanthos var. inermis      NaN      NaN
3       Gleditsia triacanthos var. inermis      NaN      NaN
4                          Tilia americana      NaN      NaN
...                                    ...      ...      ...
683783                   Quercus palustris      NaN      NaN
683784                 Cladrastis kentukea      NaN      NaN
683785                         Acer rubrum      NaN      NaN
683786                         Acer rubrum      NaN      NaN
683787                         Acer rubrum      NaN      NaN

[683788 rows x 3 columns]

In [70]:
nyc_trees.query('tree_dbh == 0')

,tree_id,block_id,created_at,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,latitude,longitude,x_sp,y_sp,council district,census tract,bin,bbl,min_dbh,max_dbh
37,211205,302080,09/09/2015,0,16,OnCurb,Stump,NaN,NaN,NaN,...,40.774993,-73.922037,1.005843e+06,221637.1447,22.0,95.0,4019192.0,4.008740e+09,NaN,NaN
57,187807,506266,08/29/2015,0,0,OnCurb,Dead,NaN,NaN,NaN,...,40.871927,-73.882349,1.016788e+06,256965.9677,11.0,415.0,2016979.0,2.032990e+09,NaN,NaN
239,203597,301947,09/04/2015,0,15,OnCurb,Stump,NaN,NaN,NaN,...,40.772483,-73.909073,1.009435e+06,220726.1774,22.0,117.0,4015864.0,4.008060e+09,NaN,NaN
641,179766,230466,08/27/2015,0,30,OnCurb,Stump,NaN,NaN,NaN,...,40.637379,-73.953814,9.970686e+05,171494.1029,45.0,770.0,3120745.0,3.052240e+09,NaN,NaN
644,180619,348834,08/27/2015,0,10,OnCurb,Stump,NaN,NaN,NaN,...,40.725300,-73.839376,1.028771e+06,203563.6300,29.0,75702.0,4052666.0,4.022430e+09,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
683348,152836,217718,08/17/2015,0,13,OnCurb,Stump,NaN,NaN,NaN,...,40.711246,-73.956418,9.963323e+05,198405.4546,34.0,523.0,3063024.0,3.024090e+09,NaN,NaN
683686,191219,321689,08/31/2015,0,25,OnCurb,Stump,NaN,NaN,NaN,...,40.761032,-73.765688,1.049161e+06,216628.0173,19.0,1471.0,4138506.0,4.063100e+09,NaN,NaN
683695,170888,231931,08/24/2015,0,5,OnCurb,Stump,NaN,NaN,NaN,...,40.647154,-73.955619,9.965658e+05,175055.1250,40.0,794.0,3117748.0,3.051270e+09,NaN,NaN
683697,177922,410634,08/26/2015,0,17,OnCurb,Stump,NaN,NaN,NaN,...,40.528544,-74.165246,9.383125e+05,131882.7120,51.0,176.0,5081744.0,5.063570e+09,NaN,NaN
683699,172660,349995,08/25/2015,0,4,OnCurb,Stump,NaN,NaN,NaN,...,40.595866,-73.746149,1.054748e+06,156468.4834,31.0,101001.0,4315124.0,4.156180e+09,NaN,NaN

In [78]:
(
    nyc_trees
        .groupby('health').size()
)

health
Fair     96504
Good    528850
Poor     26818
dtype: int64

In [80]:
96504+528850+26818 #проверял, совпадает ли общее количество деревьев с суммой количеств по типам здоровья

652172

Следующее задание: Анализ местоположения деревьев

В каких пяти районах (borough) находится больше всего деревьев?
В каком районе (borough) самое большое среднее значение tree_dbh?
Найди средний tree_dbh для каждого borough и отсортируй от большего к меньшему.

In [86]:
(
    nyc_trees
        .groupby('borough', as_index = False).size()
)

         borough    size
0          Bronx   85203
1       Brooklyn  177293
2      Manhattan   65423
3         Queens  250551
4  Staten Island  105318

In [111]:
(
    nyc_trees
        .groupby('borough', as_index = False)
        .aggregate({'tree_dbh': 'mean'})
        .sort_values('tree_dbh', ascending = False)
)

         borough   tree_dbh
3         Queens  12.557870
1       Brooklyn  11.738884
4  Staten Island  10.492746
0          Bronx   9.693649
2      Manhattan   8.473641

Работа с датами


Преобразовать колонку created_at в формат даты и времени.
Найти, в каком году было зарегистрировано больше всего деревьев.
Определить, сколько деревьев было зарегистрировано в каждый месяц 2015 года.

In [125]:
nyc_trees.dtypes

tree_id               int64
block_id              int64
created_at           object
tree_dbh              int64
stump_diam            int64
curb_loc             object
status               object
health               object
spc_latin            object
spc_common           object
steward              object
guards               object
sidewalk             object
user_type            object
problems             object
root_stone           object
root_grate           object
root_other           object
trunk_wire           object
trnk_light           object
trnk_other           object
brch_light           object
brch_shoe            object
brch_other           object
address              object
postcode              int64
zip_city             object
community board       int64
borocode              int64
borough              object
cncldist              int64
st_assem              int64
st_senate             int64
nta                  object
nta_name             object
boro_ct               int64
state                object
latitude            float64
longitude           float64
x_sp                float64
y_sp                float64
council district    float64
census tract        float64
bin                 float64
bbl                 float64
min_dbh             float64
max_dbh             float64
dtype: object

In [128]:
nyc_trees['created_at'] = pd.to_datetime(nyc_trees['created_at'])

In [130]:
nyc_trees.dtypes

tree_id                      int64
block_id                     int64
created_at          datetime64[ns]
tree_dbh                     int64
stump_diam                   int64
curb_loc                    object
status                      object
health                      object
spc_latin                   object
spc_common                  object
steward                     object
guards                      object
sidewalk                    object
user_type                   object
problems                    object
root_stone                  object
root_grate                  object
root_other                  object
trunk_wire                  object
trnk_light                  object
trnk_other                  object
brch_light                  object
brch_shoe                   object
brch_other                  object
address                     object
postcode                     int64
zip_city                    object
community board              int64
borocode                     int64
borough                     object
cncldist                     int64
st_assem                     int64
st_senate                    int64
nta                         object
nta_name                    object
boro_ct                      int64
state                       object
latitude                   float64
longitude                  float64
x_sp                       float64
y_sp                       float64
council district           float64
census tract               float64
bin                        float64
bbl                        float64
min_dbh                    float64
max_dbh                    float64
dtype: object

In [144]:
nyc_trees['year'] = nyc_trees['created_at'].dt.year
nyc_trees.groupby('year', as_index = False).size()

   year    size
0  2015  509525
1  2016  174263

In [150]:
nyc_trees['m_y'] = nyc_trees['created_at'].dt.to_period('M')
nyc_trees.query('year == 2015').groupby('m_y', as_index = False).size()

       m_y    size
0  2015-05    6109
1  2015-06   33321
2  2015-07   59062
3  2015-08   78804
4  2015-09   75784
5  2015-10  130514
6  2015-11   76089
7  2015-12   49842

Геоанализ


Найти координаты (latitude, longitude) самых крупных деревьев (например, top-10 по tree_dbh).
Вывести среднюю широту и долготу деревьев в каждом районе (boro_ct).

In [176]:
(
    nyc_trees
        .groupby(['latitude', 'longitude'], as_index = False)
        .aggregate({'tree_dbh': 'max'})
        .sort_values('tree_dbh', ascending = False)
        .head(10)
)

         latitude  longitude  tree_dbh
601702  40.821953 -73.857671       450
258783  40.672287 -73.946936       425
269817  40.675636 -73.750616       389
642342  40.850879 -73.943067       318
309623  40.688366 -73.869641       318
6677    40.518508 -74.212533       298
148142  40.622840 -73.940370       293
610800  40.828114 -73.912674       291
522852  40.766147 -73.762538       282
435702  40.734074 -73.850752       281

In [184]:
(
    nyc_trees
        .groupby('boro_ct')
        .aggregate({'longitude': 'mean', 'latitude': 'mean'})
)

         longitude   latitude
boro_ct
1000201 -73.985901  40.712454
1000202 -73.982090  40.712996
1000600 -73.989530  40.712455
1000700 -74.007459  40.704810
1000800 -73.993979  40.711286
...            ...        ...
5030301 -74.157397  40.619340
5030302 -74.159952  40.624273
5031901 -74.163683  40.629994
5031902 -74.165994  40.637661
5032300 -74.172460  40.630980

[2152 rows x 2 columns]

Обогащение данных


Создать новый столбец tree_category, где:
"Small" для tree_dbh < 5
"Medium" для tree_dbh от 5 до 20
"Large" для tree_dbh > 20
Посчитать, сколько деревьев попадает в каждую категорию.

In [200]:
sizes = [
    (nyc_trees['tree_dbh'] < 5),
    (nyc_trees['tree_dbh'] >= 5)&(nyc_trees['tree_dbh'] <= 20),
    (nyc_trees['tree_dbh'] > 20)]
categories = ['Small', 'Medium', 'Large']
nyc_trees['tree_category'] = np.select(sizes, categories)

nyc_trees.groupby('tree_category', as_index = False).size()

  tree_category    size
0         Large  101116
1        Medium  405038
2         Small  177634

Работа с пропущенными значениями
Найди количество пропущенных значений в колонке health и spc_latin.
Заполни пропущенные значения в колонке health значением "Unknown".
Заполни пропущенные значения в колонке spc_latin значением "Unknown" или, если хочешь, можешь использовать модальное значение (самое часто встречающееся).

In [6]:
nyc_trees['health'].fillna('Unknown', inplace=True)

In [70]:
nyc_trees.groupby('health').size()

health
Fair        96504
Good       528850
Poor        26818
Unknown     31616
dtype: int64

In [52]:
nyc_trees['spc_latin'].value_counts()['Platanus x acerifolia']

87014

In [74]:
spc_modal = nyc_trees.groupby('spc_latin').size().idxmax()
nyc_trees['spc_latin'].fillna(spc_modal, inplace=True)
nyc_trees_modal = nyc_trees.groupby('spc_latin').size()

In [48]:
nyc_trees.groupby('spc_latin').size().idxmax()

'Platanus x acerifolia'

In [76]:
nyc_trees_modal['Platanus x acerifolia']

87014

In [60]:
nyc_trees.isnull().sum()

tree_id                  0
block_id                 0
created_at               0
tree_dbh                 0
stump_diam               0
curb_loc                 0
status                   0
health                   0
spc_latin                0
spc_common           31619
steward             519438
guards              603922
sidewalk             31616
user_type                0
problems            457944
root_stone               0
root_grate               0
root_other               0
trunk_wire               0
trnk_light               0
trnk_other               0
brch_light               0
brch_shoe                0
brch_other               0
address                  0
postcode                 0
zip_city                 0
community board          0
borocode                 0
borough                  0
cncldist                 0
st_assem                 0
st_senate                0
nta                      0
nta_name                 0
boro_ct                  0
state                    0
latitude                 0
longitude                0
x_sp                     0
y_sp                     0
council district      6519
census tract          6519
bin                   9559
bbl                   9559
dtype: int64